<div class="post-details-container" *ngIf="this.post">
    <mat-card class="post-card">
      <mat-card-title>{{ this.post.title }}</mat-card-title>


      <mat-card-content class="post-content">
        <div>author: {{ this.post.editor }}</div>
        <div>date: {{post.dateCreated | date: 'dd LLL yyyy, HH:mm'}}</div>
        <h2>{{ this.post.content }}</h2>
      </mat-card-content>

        <mat-card-actions *ngIf="isAuthorOrAdmin(this.post.editor)" class="post-details-actions" >
          <button mat-button color='basic' (click)="toggleSwitch()">
            <mat-icon>create</mat-icon>
              </button>
              <mat-accordion *ngIf="this.isToggled">
                <input  [(ngModel)]="input" matInput placeholder="Edit Description">
                  <button mat-button color='basic' (click)="editPostDescription(this.input)"  >Edit</button>
                </mat-accordion>
          </mat-card-actions>
          <mat-card-actions *ngIf="isAuthorOrAdmin(this.post.editor)" class="delete-post">
            <button mat-button color='warn' (click)="deletePost()">
              <mat-icon>clear</mat-icon>
                Delete
            </button>
          </mat-card-actions>
        <app-all-comments [comments]="post.__comments__" [loggedUser]="loggedUser" [post]="post"></app-all-comments>
    </mat-card>
  </div>