<mat-card-actions class="input-field" >
    <mat-form-field class="field"  >
        <textarea [(ngModel)]="input" matInput placeholder="Add comment"></textarea>
        <span class="submit-button">
        <button class="add-comment" (click)="createComment()" mat-raised-button *ngIf="input">Add comment</button>
        </span>
    </mat-form-field>       
</mat-card-actions>

<app-comment-details *ngFor="let comment of comments" [comment]="comment" [loggedUser]="loggedUser" (inputEmitter)="editComment($event)"
 (deleteEmitter)="deleteComment($event)" [post]="post">
</app-comment-details>

