<div class="container">
    <mat-card class="comment-card">
        <mat-card-content class="content">
          <span>
            {{ comment.content }}
            -
            {{ comment.editor }}
            -
            {{ comment.dateCreated | date: 'dd LLL yyyy, HH:mm'}}
            <mat-accordion *ngIf="viewEdit">
                <textarea [(ngModel)]="input" matInput placeholder="Edit comment"></textarea>
                <span class="submit-button">
                <button class="edit-button" (click)="editComment()"  mat-raised-button color="primary">Edit Comment</button>
                <button mat-icon-button (click)="toggleViewEdit()"><mat-icon>close</mat-icon></button>
                </span>
              </mat-accordion>
          </span>   
        </mat-card-content>
        <span class="options-buttons">
            <button *ngIf="!viewEdit && isAuthorOrAdmin(comment.editor)" (click)="editComment()" class="edit-button" mat-raised-button color="primary">Edit <mat-icon class="material-icons">edit</mat-icon></button>
            <button mat-raised-button color="warn" (click)="deleteComment()" class="delete-button" *ngIf="!viewEdit && isAuthorOrAdmin(comment.editor)" >Delete <mat-icon class="material-icons">delete_forever</mat-icon></button>
        </span>
    </mat-card>   
</div>