<div class="wrapper">
<div class="create-post-btn">
    <button  mat-raised-button color="basic" class="btn-add-post" (click)="toggleButton()"><mat-icon>add</mat-icon> Add new post</button>
  </div>
  <mat-card class="input-field" *ngIf="show">
    
    <div class="post-form">
      <mat-form-field>
        <input [(ngModel)]="title" matInput placeholder="Post title">
      </mat-form-field>
    
      <mat-form-field>
        <input [(ngModel)]="description" matInput placeholder="Post description">
      </mat-form-field>
  
      <mat-button-toggle color="basic" (click)="createPost()" mat-raised-button><mat-icon>add_box</mat-icon></mat-button-toggle>
    </div>
    
  </mat-card>
  <div class="all-posts-container">
      <app-list-post *ngFor="let post of posts" [post]="post">
      </app-list-post>
  </div>
</div>