<mat-card class="post-template">
  <mat-card-title class="post-title">
      <a (click)="previewPost()">{{ post.title }}</a>
  </mat-card-title>
  <mat-card-subtitle class="post-author">
    {{ post.editor }}
    -
    {{post.dateCreated | date: 'dd LLL yyyy, HH:mm'}}
  </mat-card-subtitle>
</mat-card>