<div class="register-container">
    <mat-card class="register-card">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="this.registerForm" (ngSubmit)="this.register(this.registerForm.value)">
          <table cellspacing="0" class="register-inputs-container">
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Username" name="username" required class="register-input"
                    formControlName="username">
  
                  <mat-error *ngIf="this.registerForm.controls.username.errors?.required">
                    The username is required!
                  </mat-error>
                  <mat-error *ngIf="this.registerForm.controls.username.errors?.minlength">
                    The username must be at least 3 symbols long!
                  </mat-error>
                  <mat-error *ngIf="this.registerForm.controls.username.errors?.maxlength">
                    The username must be shorter that 16 symbols!
                  </mat-error>
  
  
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Password" type="password" name="password" required class="register-input"
                    formControlName="password">
  
                  <mat-error *ngIf="this.registerForm.controls.password.hasError('required') || this.registerForm.controls.password.hasError('pattern')">
                    Minimum length of password is 6 characters, must include one number, one capital letter and one special character.
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
          <tr>
            <td>
              <mat-form-field>
                <input matInput placeholder="Email" type="email" name="email" required class="register-input"
                  formControlName="email">
    
                <mat-error *ngIf="this.registerForm.controls.email.errors?.required">
                  Email is required!
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <input matInput placeholder="First Name" type="firstname" name="firstname" required class="register-input"
                      formControlName="firstname">
      
                    <mat-error *ngIf="this.registerForm.controls.firstname.errors?.required">
                        Your first name is required!
                    </mat-error>
                    <mat-error *ngIf="this.registerForm.controls.firstname.errors?.maxlength">
                        You're limited to 20 characters!
                    </mat-error>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <input matInput placeholder="Last Name" type="lastname" name="lastname" required class="register-input"
                      formControlName="lastname">
      
                    <mat-error *ngIf="this.registerForm.controls.lastname.errors?.required">
                        Your last name is required!
                    </mat-error>
                    <mat-error *ngIf="this.registerForm.controls.lastname.errors?.maxlength">
                        You're limited to 20 characters!
                    </mat-error>
                  </mat-form-field>
                </td>
              </tr>
          </table>
  
          <br />
          <button mat-raised-button color="primary" type="submit" [disabled]="this.registerForm.invalid">Register</button>
  
        </form>
      </mat-card-content>
    </mat-card>
  </div>