<div class="navbar-container">
  <mat-toolbar class="head-toolbar">
    <div class='left-side-navbar'>
    <button mat-button [routerLink]="['home']" [routerLinkActive]="'nav-link-active'">
      <span class="material-icons">home</span> Home
    </button>
    <button *ngIf="this.loggedUserData" mat-button [routerLink]="['posts']" [routerLinkActive]="'nav-link-active'">
      <mat-icon>description</mat-icon> Posts
    </button>
  </div>
    <div class='right-side-navbar'>
    <div *ngIf="!this.loggedUserData" class="user-actions">
      <button mat-button [routerLink]="['user/login']" [routerLinkActive]="'nav-link-active'">
        Login
      </button>
      <button mat-button [routerLink]="['user/register']" [routerLinkActive]="'nav-link-active'">
        Register
      </button>
    </div>


    <div *ngIf="this.loggedUserData" class="user-logout">
      <button mat-button (click)=" this.logout()">
        Logout
      </button>
    </div>
  </div>
  </mat-toolbar>
</div>
