// .navbar-container {
//     display: flex;
//     align-items: flex-start;
// }
.left-side-navbar {
    margin-right: auto;
}

// .right-side-navbar {
//     justify-content: flex-end;
// }